[2022-04-07 17:49] acoutts opened #84 "Traces are not working"
I am trying to add tracing manually, following the approach used in `DatadogTrackingHttpOverrides`.

I start a trace:
[code]

After the GRPC call finished I finish the span:
[code]

But I don't see any of the events showing up in the UI:
<img width="1016" alt="Screen Shot 2022-04-07 at 1 48 33 PM" src="https://user-images.githubusercontent.com/9597207/162265335-f2511267-dc20-4980-9d1e-9344df208703

[2022-04-08 08:43] xgouchet commented on #84
Hi @acoutts,

The screenshot you're showing is on the RUM Session, which represent a whole user journey in your application. To see smaller events, you need to look at the View (in your case the `HomeScopeRoute…` view). In there you should be able to see network requests tracked as RUM Resource, and your trace should be visible in the `Traces` tab of the View.

Secondly, since you're using RUM you

[2022-04-08 15:46] acoutts commented on #84
Thanks, I was able to find the traces in the UI but am stuck on a limitation in `grpc-dart`- in order to implement the same kind of `DatadogTrackingHttpClient` for the GRPC client, i have to use their interceptor api but it's not async which means I can't call into the datadog sdk to get the trace headers (and add them to the GRPC request on its way out).

https://github.com/grpc/grpc-dart/issues/

[2022-04-08 18:41] fuzzybinary commented on #84
Hey @acoutts,

We are considering moving away from using platform spans for RUM resource tracking for partially this reason, and will generate the trace and span ids on the Dart side instead (at least for RUM).

As a workaround, you can actually generate your own traceId and spanId without creating a platform span, add them in the proper attributes (`DatadogPlatformAttributeKey.traceID` and `Datad

[2022-04-25 15:51] fuzzybinary commented on #84
@acoutts I've been experimenting with creating a gRPC interceptor using the above approach.

It's not ready for release on pub, but if you'd like to give it a try you can add it as a git dependency. I'd love to hear if it works for you.

[code]

[2022-05-09 11:33] aerifiu opened #117 "Using different US site location on DdSdkConfiguration causes undescriptive error"
Creating a `DdSdkConfiguration` and setting the `site` to `DatadogSite.us1` while your account is in DatadogSite.us5. The SDK fails with this error:

`Batch 792f844c-d9ee-40eb-b2b2-ef5ef7f53bd6 [2519 bytes] (RumOkHttpUploaderV2) failed because of a processing error or invalid data; the batch was dropped.`

Changing it to us5 fixes it and setting it back to us1 reproduces the error.

**Steps to rep

[2022-05-09 13:22] fuzzybinary commented on #117
Hi @aerifiu,

Thanks for the feedback!  We actually saw this recently in the native SDKs and fixes will be landing there shortly. (https://github.com/DataDog/dd-sdk-ios/pull/845 and https://github.com/DataDog/dd-sdk-android/pull/899)

Once those new versions are released an we upgrade, that should fix the error message on the Flutter side as well.

I'll leave this open and close it when the new Na

[2022-05-12 00:57] tshedor opened #121 "Expose DdLogs publicly"
**Are you requesting automatic instrumentation for a framework or library? Please describe.**
- Framework or library name : `datadog_flutter_plugin`
- Library type: client
- Library version: 1.0.0-beta.1

**Is your feature request related to a problem? Please describe.**

We utilize a class to store our loggers, and we cannot use the `DdLogs` type when specifying a field of the class.

**Describe

[2022-05-12 12:52] fuzzybinary commented on #121
Thanks for the feedback Tim!

This is definitely an issue, especially since DatadogSdk.createLogger returns a DdLogs object, it should likely be exposed at the top package level.

[2022-05-19 12:16] #121 closed

[2022-05-27 13:53] iTEEECH opened #133 "Get more informations with iOS"
**Are you requesting automatic instrumentation for a framework or library? Please describe.**
- Framework or library name : datadog_flutter_plugin
- Library type: monitoring
- Library version: 1.0.0-beta.1

**Is your feature request related to a problem? Please describe.**

Hi, Currently I only receive name: iPhone, model: iPhone on Datadog dashboard RUM.

**Describe the solution you'd like**
I wo

[2022-05-27 14:24] xgouchet commented on #133
Hi @iTEEECH , indeed that's a limitation that we identified and we are planning to improve the information we provide along the lines of what you're suggesting. This enhancement will come first on the [native iOS SDK](https://github.com/DataDog/dd-sdk-ios) and shortly after for the Flutter SDK.

[2022-05-30 06:59] iTEEECH commented on #133
Hi @xgouchet, great ! thank you

[2022-05-31 13:40] fuzzybinary commented on #84
Closing this since we haven't gotten a response. If you're still having an issue or have feedback on the grpc library, please re-open.

[2022-05-31 13:40] #84 closed

[2022-05-31 17:57] fuzzybinary commented on #117
This should now be fixed with the release of v1.0.0-beta.2

[2022-05-31 17:57] #117 closed

[2022-06-07 12:48] scopendo opened #141 "SDK is already initialised"
**Describe what happened**
An error message "Datadog SDK usage error: SDK is already initialized." appears when the app is restarted following hot reload.  Whilst this can be ignored, it seems to me that it would be better suppressed given that it is such a commonality.

[code]

**Additional context**
 - Dart/Flutter version: Dart 2.17.1 / Flutter 3.0
 - Datadog SDK version: datadog_flutter_plugin

[2022-06-07 13:54] scopendo opened #142 "Allow nested objects to be used in logging context data"
**Is your feature request related to a problem? Please describe.**
It does not appear to be possible to log a data object if that object contains Dart enum values.  For example, I have a data object where the class has been generated by the popular `Freezed` package, which includes attributes that are enum values.  If I try to log such an object then I get an error:

Here is a simplified example.

[2022-06-07 15:10] fuzzybinary commented on #142
Hi @scopendo!

I tried to replicate your example and with freezed 2.0.3+1 and json_serializable 6.2.0 this works as expected so long as you do what's listed and convert the object to Json first, since json_serialziable converts those properly to strings.

<img width="252" alt="image" src="https://user-images.githubusercontent.com/249982/172415230-b57a3326-b5b7-496a-9411-182e77102712.png">

General

[2022-06-07 15:20] fuzzybinary commented on #142
@scopendo Agreed, I will look into that as a separate issue.

[2022-06-07 17:04] scopendo opened #143 "Change dynamic map in RUM methods to avoid lint error"
**Is your feature request related to a problem? Please describe.**
The signatures of logging methods, such as `DdLogs.info`, specify the optional `context` parameter as a `Map<String, Object?>`, whereas the signatures of RUM methods, such as `DdRum.addUserAction`, specify the optional `attributes` parameter as a `Map<String, dynamic>`.

Since many linting configurations seek to avoid "implicit dyn

[2022-06-08 16:01] danielgomezrico opened #144 "[`datadog_tracking_http_client`] Reduce dart dependency version"
**Is your feature request related to a problem? Please describe.**
When I include `datadog_tracking_http_client 1.0.1-beta.1` in my pubspec it fails because of:

[code]

**Describe the solution you'd like**
Reduce the min version of dart required by this package

**Additional context**
This version of dart is required for flutter 3.0 but not for flutter 2, so currently this is only usable from flu

[2022-06-09 11:53] scopendo opened #146 "Question: Why is tracing deprecated?"
I noticed that `DatadogSdk.traces` is deprecated and wondered why that is?  I see that we can add RUM timings, however, these seem relative to the start time of the view, which might not be the desired starting point.

I don't have a current need for this, was just curious.

[2022-06-09 16:24] scopendo commented on #142
It looks like the issue isn't really to do with enums but more to do with nested (freezed) sub-objects.  I'm still to prepare an example, however, I've found a workaround to be encoding and decoding:

[code]

[2022-06-13 09:25] fuzzybinary commented on #146
Hi @scopendo,

One reason is that, currently, the the Browser SDK doesn't support tracing. While tracing is supported in the Mobile SDKs, we are actually thinking about changing that feature slightly moving forward, so we didn't want to ship the tracing API and immediately change it.

Additionally, some combination of upgrades to the iOS SDK and Flutter 3 broke an API that we rely on to get accura

[2022-06-13 09:31] fuzzybinary commented on #142
I think this is just a weird behavior of json_serializable that it doesn't actually serialize nested objects by default. Here's a bit more detail:
https://docs.flutter.dev/development/data-and-backend/json#generating-code-for-nested-classes

It looks like if you add:
[code]
above your class is will correctly navigate to children and serialize them to JSON with just the `.toJson()` call.

Let me kn

[2022-06-13 10:46] scopendo opened #147 "Ability to start a new RUM session within a kiosk app"
When developing kiosk apps, where a single device is used, often anonymously, by many people over time, it would be useful to be able to manually force the start of a new RUM session, even though the app itself is not restarting.

[2022-06-13 13:25] fuzzybinary commented on #147
This is currently a limitation on the native side I believe, but potentially solvable soon with some native changes that are in the pipe.

[2022-06-13 15:00] fuzzybinary commented on #143
@scopendo What linter / analysis rule are you using? I'd like to add it to the project in #148 to make sure we retain this level strictness moving forward (and catch anywhere else we might have missed)

[2022-06-13 15:45] KarlChow92 commented on #143
Thanks, was just looking for that as well. Seems like after enabling it we have more issues!

![image](https://user-images.githubusercontent.com/2989224/173392443-f76c5c99-07ea-43d7-94fc-d71df5bd796b.png)

Will commit later again on this PR.

Thanks

[2022-06-13 15:47] fuzzybinary commented on #143
Great! Thanks @KarlChow92! Appreciate the help!

[2022-06-14 09:42] scopendo commented on #143
Yep, that's the one.  I use the lints from https://pub.dev/packages/very_good_analysis.

[2022-06-14 13:44] fuzzybinary opened #149 "Support reporting which attributes fail serialization"
When passing large sets of objects as attributes in calls to logs and other RUM events, properties that fail to serialize to Fluttter's StandardMethodCodec (or from there to JSON) will throw an error. Currently, the error is not helpful, for example:

Instead it would be nice if the SDK could warn what attribute failed serialization, and what type it is. For example, and object like this:

[code]

[2022-06-15 14:06] fuzzybinary commented on #142
Closing in favor of #149

[2022-06-15 14:06] #142 closed

[2022-06-15 17:03] fuzzybinary commented on #143
Fixed in #148

[2022-06-15 17:03] #143 closed

[2022-06-17 14:01] fuzzybinary commented on #144
I've updated the README for dart_http_tracking_client to clarify the Dart 2.16 / Flutter 2.10 support:  https://github.com/DataDog/dd-sdk-flutter/tree/develop/packages/datadog_tracking_http_client#flutter-210-support

Long term, the 1.0.x line will continue to support Dart 2.16 and 1.1.0 will be Dart 2.17

[2022-06-17 14:01] #144 closed

[2022-06-22 09:18] FBisca opened #154 "Could not find module 'Datadog' for target 'arm64-apple-ios-simulator'"
**Describe what happened**
Our company is implementing Datadog and we decided to try out the Flutter plug-in but it seems that it doesn't support compilation for iOS Simulators.

[code]
Since it's an installed Flutter plugin I don't think there's an easy way to control if it should be included or not if the target is a Simulator, making it impossible to run the project on an iOS Simulator.

**Step

[2022-06-23 13:17] fuzzybinary commented on #154
Hi @FBisca,

Thanks for reaching out. I'm guessing you're building on an M1 Mac?  I find it odd that XCode built the x64 version of the Datadog module, but maybe there's something wrong in one of our Podspecs.

Can you do me a favor and try a clean rebuild, either through XCode or using `flutter clean`, and see if the problem persists?

Thanks!

[2022-06-23 14:26] fuzzybinary commented on #154
Thank for the additional info. We're looking into it.

Do you have any other Flutter plugins with a native component that do not have this issue? IF so, which one?

[2022-06-29 08:12] arcticfox1919 opened #155 "datadog_tracking_http_client required Dart version is too high"
[code]

[2022-06-29 10:32] FBisca commented on #154
At the moment I think just `firebase_crashlytics` https://pub.dev/packages/firebase_crashlytics

[2022-06-29 18:56] Doetheman opened #156 "Datadog deobfuscation for logs"
My team is planning to obfuscate our flutter application but read in this [thread](https://github.com/DataDog/dd-sdk-android/issues/372#issuecomment-836627037) that this is not possible? If not, could we add this to the feature roadmap.

[2022-06-29 19:15] fuzzybinary commented on #154
Hi @FBisca and @brunosp15 ,

I have some limited access to an M1 mac, but I wasn't able to reproduce this in the simple cases with Flutter 3.0.3 and XCode 13.4.1. I used brew, Cocoapods, and swiftlint all installed to a non-rosetta terminal.

The two cases I tried:

First, clone this repo, and go into `packages/datadog_flutter_plugin/example` and run `flutter run`. This ran on the simulator proper

[2022-06-29 21:03] fuzzybinary commented on #156
Hi @Doetheman,

Deobfuscation and source mapping are on the roadmap for RUM Errors at the moment, but I can't give you a timeline on it yet.

However, I don't know of any plans to deobfuscate stack traces in logs.  I'll need @xgouchet to weigh in on that.

[2022-06-29 21:31] fuzzybinary commented on #155
It looks like it should be safe to drop the version constraint down to 2.15.0 (which is what it is for the main plugin).

I'll look into fixing that and pushing a release.

[2022-06-30 06:42] xgouchet commented on #156
Deobfuscation of stacktrace for now is only performed for errors and crashes reported through RUM. We might do it for logs too eventually, but it's not on our immediate roadmap.

[2022-06-30 20:24] fuzzybinary commented on #155
datadog_tracking_http_client v1.0.0-beta.2 is now published and should support Dart 2.15.
https://pub.dev/packages/datadog_tracking_http_client/versions/1.0.0-beta.2

Note that 1.0.1-beta.1 still requires Dart 2.17 / Flutter 3, but the functionality of the releases is the same otherwise.

[2022-06-30 20:24] #155 closed

[2022-07-05 21:03] btrautmann opened #159 "Service name not respected"
Thanks for taking the time for reporting an issue!

**Describe what happened**
We're noticing that the service name passed to the `DdSdkConfiguration` constructor is not respected, and the resulting service name ends up being the application's package name.

**Steps to reproduce the issue:**

Build an app using the plugin on Android and pass `serviceName` as `foo` to the aforementioned constructor

[2022-07-05 21:03] btrautmann commented on #159
I'll work on verifying the same behavior occurs on iOS.

[2022-07-06 13:36] FBisca commented on #154
Sorry that I took that long to reply, I tried to create a new project and it seems to be working fine, also the example.

I checked the `${ARCHS_STANDARD}` in your project and it's already properly set.

I'll investigate it a little more, compare our project `project.pbxproj`. I'll keep you posted, thanks for the help.

[2022-07-06 14:00] fuzzybinary commented on #159
Hi @btrautmann,

Thanks for reporting this!

It looks like when I performed a refactor to support Web, I accidentally stopped sending the serviceName down to native mobile. I'm verifying it is indeed broken on both platforms, but from looking at the refactor it appears it will be.

Is this blocking any work on your side or will it prevent integration?

[2022-07-06 14:29] fuzzybinary commented on #154
Please keep me posted @FBisca. I'd love to know how to resolve this in case it happens to others.

Thanks!

[2022-07-06 16:41] fuzzybinary commented on #154
Thanks for the explanation! Closing for now.

@brunosp15 can you see if you have a similar issue?  We can reopen if you find something we need to adjust.

Thanks all!

[2022-07-06 16:41] #154 closed

[2022-07-07 13:27] #159 closed

[2022-07-08 14:48] fuzzybinary commented on #159
This is now fixed and deployed in [1.0.0-beta.3](https://pub.dev/packages/datadog_flutter_plugin/versions/1.0.0-beta.3)

[2022-07-08 14:50] fuzzybinary commented on #143
This is now fixed and deployed in [1.0.0-beta.3](https://pub.dev/packages/datadog_flutter_plugin/versions/1.0.0-beta.3)

[2022-07-14 00:13] acoutts commented on #84
Doing some more looking into this one - i tried your code but it never sends any trace because in my case my host doesn't have https:// on it but it's still a valid grpc channel.

I made a fork to handle both cases when the grpc channel contains a scheme or not and it's working for my setup now: https://github.com/DataDog/dd-sdk-flutter/pull/167

[2022-07-14 13:55] fuzzybinary commented on #84
Thanks @acoutts. Going to re-open while we hammer out final steps with your PR, then we'll close when it's actually fixed.

[2022-07-20 17:57] #141 closed

[2022-08-01 19:11] mikhael28 opened #174 "Clarification: Differential from datadog_flutter"
Hi there Datadog! great to see there is now an 'official' library - as a user of the datadog community implementation package, could someone please describe the practical differences between this package and that one? Is it worth switching right now?

Additionally, are there are any regressions at the moment between that library and this one? And, what is on the roadmap for this particular package

[2022-08-02 09:49] scopendo commented on #174
Suggest reading https://github.com/GetDutchie/datadog_flutter/issues/108

[2022-08-02 10:07] scopendo opened #175 "Cancelled (Dio) HTTP requests show as errors in RUM"
**Describe what happened**

My application uses the `Dio` library to make HTTP requests.  This allows for requests to be cancelled, which is useful when performing a typeahead search to cancel a previously dispatched API call when the search input changes.

It appears that when a Dio-dispatched request is cancelled, that `datadog_tracking_http_client` records an error in RUM, which adds unwanted n

[2022-08-02 14:17] fuzzybinary commented on #175
Hi @scopendo!

Thanks for reporting this. I'll start looking into this. It looks like Dio calls `HttpClient.close(force: true)`, when you cancel, which likely throws an error on the Request or Response object that we'll have to handle.

Are the errors always the same? Could you send me over what errors you're seeing?

[2022-08-02 15:21] fuzzybinary commented on #174
Hi @mikhael28,

So far as we know, there are no regressions between the community library and this one, other than the removal of Span support, and we do not officially support Flutter Web (although I believe what we support currently is in line with what the Community SDK supported)

A lot of the support from the community SDK works similarly in this one, including automatic view tracking using t

[2022-08-02 15:21] #174 closed

[2022-08-02 18:21] scopendo commented on #175
Sorry, I meant to add that before.  The vast majority of errors are the same:

From the `error` attributes:

[code]

[2022-08-02 19:05] fuzzybinary commented on #175
Thanks @scopendo!

I was hoping it was something less generic that I could easily filter out as a non-error. But it looks like what we'll have to do is keep track of whether the client was closed and ignore any errors after closure, as that exception could be a legitimate error we'd want to track.

I'll look into the best approach.

[2022-08-08 03:46] mikhael28 commented on #174
Alright, that sounds good - I have it in my backlog to migrate to the official library in the next 3 weeks. Will report back with any feedback.

[2022-08-19 11:56] scopendo opened #189 "RUM events sometimes missing in Datadog"
It would be useful to be able to force more frequent flushes of data to Datadog.  It's not clear to me what actions I can take to trigger the upload, as sometimes when running locally it seems like it can take a long time for actions to appear in Datadog – if at all.

I have the upload frequency set to `UploadFrequency.frequent` in `DdSdkConfiguration`.

[2022-08-19 12:03] scopendo commented on #189
I've just noticed [this](https://github.com/DataDog/dd-sdk-flutter/pull/187/files#diff-49a0f2c41ec68dedb9d4620cc6e3282c89af608f15dc0ae5bfcc01daa676e6f9R195) and set the SDK verbosity to verbose.

It seems that the SDK is pumping data to Datadog frequently just that sometimes it isn't showing up in Datadog – at other times it will, without any change in the app itself – so possibly an issue on the

[2022-08-19 12:59] scopendo commented on #189
Actually, rather than a backend error, I wonder if the problem is to do with hot restarts or reloads, as I have noticed this message on occasion:

    Global.rum = RUMMonitor.initialize()
See https://docs.datadoghq.com/real_user_monitoring/ios

[2022-08-22 14:28] fuzzybinary commented on #189
Hi @scopendo -- can you post your configuration code and any messages you get during initialization?

I'm surprised you can end up in a situation where you have a `Datadog.instance.rum` but the RUMMontior isn't registered.

It is possible this is related to hot restart. Currently, modifying the configuration of the Datadog SDK and hot reloading / hot restarting is not supported, but shouldn't brea

[2022-08-22 15:39] omartinma commented on #189
Not sure if related but when I use hot restart i get this message as well
[code]

[2022-08-22 15:48] fuzzybinary commented on #189
@omartinma That warning should be fixed in the next release. See #141. Note - changing your configuration and hot reloading is still not supported, but the new version won't issue the warning if your configuration hasn't changed.

[2022-08-22 16:00] omartinma commented on #189
Great, thanks for the info!

About missing events. Do we have a way to guarantee which events are triggered? I have certain situations in the app where calling on the same way to log my event, some of them are not registered in the console. Not sure if related but most of the cases it is when I trigger an event and right after i do a navigation.

[2022-08-22 16:03] fuzzybinary commented on #189
@omartinma Can you open a separate issue for that? Provide info on your setup, including if you're using DatadogNavigationObserver or the RouteAwareMixin, and in what method you're triggering the event.

Thanks!

[2022-08-23 10:58] omartinma commented on #189
@fuzzybinary i did some tests and all my events missed are coming when I open a BottomSheet, not sure if an issue or I am missing anything, should i create the issue just in case?

[2022-08-23 11:29] omartinma commented on #189
Actually the problem was that bottom sheet was missing route name! Thanks anyway :D

[2022-08-24 07:34] scopendo commented on #189
Hi @fuzzybinary – here's the code that I use for initialization at the moment, which is called once by our custom "runner" approach when the app starts up, before calling Flutter's `runZonedGuarded`.

[code]

[2022-08-24 07:49] scopendo commented on #189
Here's the output showing DD console logging when the app first starts.  My initialisation code runs whenever you see the "Initializing Datadog..." message.  You can see our own console logging indicating API calls, which will DD should also be logging due to HTTP tracking, as well as an info log message that we output using DD.

[code]

And here's the output after doing nothing except for a hot *

[2022-08-24 08:58] omartinma opened #196 "Wrong view name on navigation for user action"
**Describe what happened**
When registering a user action and immediately opening a new route the event is logged for the new route instead of the one that triggered the action.

**Steps to reproduce the issue:**

1. Open route A
2. Call addUserAction and navigates to route B.
3. Route B is opened.
4. In the console the event is registered on Route B

**Describe what you expected:**

The event sho

[2022-08-24 09:09] omartinma commented on #196
Additional info:
I did some research and it just happens when using an additional state management solution(bloc in my case but I think is the same for any other using Streams). I guess as addUserAction is not async anymore compared with the previous package it is creating this issue

[2022-08-24 09:48] scopendo commented on #189
@fuzzybinary – I think this might be fixed with 1.0.0-rc.1.

I tried unsuccessfully to reproduce the problem with the example app (for which I needed to delete and recreate the ios folder).  I compared the `pubspec.lock` files and noticed the new release candidate.  I tried that in my app and it seems to be OK now.

[2022-08-24 12:53] fuzzybinary commented on #189
👍  Sounds good -- it's very possible we were causing issues attempting to reinitialize during hot reload. RC1 no longer attempts to reinitialize.

I'll leave this open for a bit in case you see the error again.

Thanks for your help!

[2022-08-24 13:19] omartinma commented on #196
Ok, I will try my best to create a small example later this/next week.

For simplicity, I moved the addUserAction from the bloc but it would be nice to understand why that is happening in that way. Thanks a lot!

[2022-08-24 13:41] fuzzybinary commented on #196
Datadog _should_ always process calls in the order we receive them. If you're pushing the state change to an async handler in bloc, then triggering a navigation in Flutter, the navigation is likely handled synchronously, while the bloc request is pushed to the back of the task queue.

So, from Datadog's perspective, a new view is active when `addUserAction` is called.

But, please let me know if y

[2022-08-24 13:43] fuzzybinary commented on #175
Hi @scopendo

Sorry for the delay on this, but for the moment, Datadog doesn't have a good way to mark a request as "canceled." We're still looking into the best approach on the Native side, which we'll then bring into the Flutter side as soon as its available.

[2022-08-24 16:20] scopendo opened #198 "Question: Correct way to record outcome for analysis"
Sometimes we want to record outcomes to Datadog in our app to help inform future design choices.  For example, we have a search capability and we'd like to know how often users find no match, a single match or multiple matches.

What is the recommended way to record such outcomes?  At the moment we are using a custom action as that seems to report on than logging.

[2022-08-25 11:11] scopendo commented on #189
Not seeing the error anymore – I'm happy for this issue to be closed when you are.

[2022-08-25 11:13] scopendo commented on #175
@fuzzybinary – I know it's a bit crappy but would it be possible to suppress any exceptions containing the text "Connection closed before full header was received"?  Or is there a way for me to filter the error myself, as I believe is possible in the browse SDK?

[2022-08-25 12:05] #189 closed

[2022-08-25 12:30] scopendo opened #201 "Document endpoints"
It would be useful for the package documentation to be updated to include the Datadog ports and endpoints that an app will send requests to.

This is particularly useful for Flutter apps that will be run on a locked-down enterprise network, where endpoints are explicitly added to an allow list.

[2022-08-25 13:41] fuzzybinary commented on #201
@alai97 This would be useful for all Datadog SDKs -- is there already official documentation on this?

[2022-08-25 19:05] alai97 commented on #201
I don't see any available information right now, I opened DOCS-3997 to track this doc request for all Datadog SDKs!

[2022-08-25 19:12] fuzzybinary commented on #201
@scopendo We're going to add these to the [datadog docs site](https://docs.datadoghq.com/real_user_monitoring/) in the near future, but for now, all Datadog traffic is transmitted over standard SSL (443) to the following domains, based on your "site" parameter and the feature:

- Logs
  - us1 - https://logs.browser-intake-datadoghq.com
  - us3 - https://logs.browser-intake-us3-datadoghq.com
  - us

[2022-08-25 19:12] #201 closed

[2022-08-25 20:07] scopendo commented on #201
That's super helpful – thank you Jeff.

[2022-08-26 12:04] charafau opened #203 "WidgetBinding analyzer noise for Flutter >=3"
Change introduced in this commit:
https://github.com/DataDog/dd-sdk-flutter/commit/a6a66306011d20566c258d39203659feca871546

results in noisy analyzer when running from CLI:

[code]

This makes tests output hard to read.

[2022-08-26 12:45] AlexRich16 opened #204 "Error build apk with datadog-flutter"
`Running Gradle task 'assembleDebug'...

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:preDebugBuild'.

Since integration of datadog-flutter-sdk , i can't lunch my app on Android device but it works on Flutter Web
Can you help me ?

[✓] Flutter (Channel stable, 3.0.5, on macOS 12.4 21F79 darwin-arm, locale fr-FR)
    • Flutter version 3.0.5 at /Users/

[2022-08-26 13:04] fuzzybinary commented on #204
Hi @AlexRich16 -- can you clone this repo and try to build the flutter app in `package/datadog_flutter_plugin/example` for me? I'd like to rule out something weird in your environment.

[2022-08-26 13:22] fuzzybinary commented on #203
Hi @charafau

Yes, I'm with you, I hate it, but fixing this will break Flutter < 3 and I'm not sure anyone has found a good workaround other than us maintaining two versions of the library (which is what we're doing with datadog_tracking_http_client).

See https://github.com/dart-lang/sdk/issues/33249 for more on this.

Sorry 😒

[2022-08-26 13:26] AlexRich16 commented on #204
i can launch this example.
I just delete this line in pubspec.yaml
[code]

[2022-08-26 13:42] fuzzybinary commented on #204
Hi @AlexRich16

I'm not really sure what would cause this.  Can you go into your `android` directory and run gradle directly with `./gradlew assembleDebug --stacktrace` and supply the output. Additionally, if you could post your `android/app/builld.gradle` and `android/gradle.properties` that would help. These are likely to be large, so if you could post them to a gist I would appreciate it.

Than

[2022-08-26 13:49] fuzzybinary commented on #198
Hi @scopendo

There are a few ways to do this. One way is just by sending a log with the attributes set for individual results, for example:
[code]

You could also use Custom Actions with attributes as well, for example:
[code]

You may want to talk with your CSM about the particulars of you app and what you're trying to do, and they can walk you through not only what to collect but how to properl

[2022-08-26 13:58] AlexRich16 commented on #204
`* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':app:preDebugBuild'.
        at org.gradle.api.internal.tasks.execution.CatchExceptionTaskExecuter.execute(CatchExceptionTaskExecuter.java:38)
        at org.gradle.api.internal.tasks.execution.EventFiringTaskExecuter$1.executeTask(EventFiringTaskExecuter.java:77)
        at org.gradle.api.internal.tasks.execu

[2022-08-26 13:59] AlexRich16 commented on #204
My app/build.gradle
`def localProperties = new Properties()
def localPropertiesFile = rootProject.file('local.properties')
if (localPropertiesFile.exists()) {
    localPropertiesFile.withReader('UTF-8') { reader ->
        localProperties.load(reader)
    }
}

def flutterRoot = localProperties.getProperty('flutter.sdk')
if (flutterRoot == null) {
    throw new GradleException("Flutter SDK not foun

[2022-08-26 14:00] AlexRich16 commented on #204
gradle properties

`org.gradle.jvmargs=-Xmx1536M
android.useAndroidX=true
android.enableJetifier=true
`

[2022-08-26 14:27] fuzzybinary commented on #203
Neverymind @charafau. Someone pointed me to a fix. We'll have it in the next version.

[2022-08-26 14:46] fuzzybinary commented on #204
Hid the larger comments to this gist:
https://gist.github.com/fuzzybinary/7cac4896400ea1832608708b6d4dd198

[2022-08-26 15:23] fuzzybinary commented on #204
@AlexRich16 Can you also send over what version of the Android Gradle Plugin you're using?  It should be under the root `android/build.gradle`. For example mine reads:

[code]

[2022-08-26 15:23] charafau commented on #203
That's great to hear! Thank you!

[2022-08-26 15:50] AlexRich16 commented on #204
[code]
This is my gradle version

[2022-08-26 17:22] fuzzybinary commented on #204
@AlexRich16 can you upgrade to 4+ and see if that fixes your issue?

[2022-08-26 17:39] fuzzybinary commented on #175
I'm worried about filtering that exception only because it could have other causes. For that matter, I *believe* you could get other errors during cancelation, depending on the timing of the cancelation.

Unfortunately, filtering is not possible on the Flutter side at the moment, but it is on the roadmap. I'm looking for ways to support filtering sooner rather than later and will keep you posted o

[2022-08-29 08:23] AlexRich16 commented on #204
Upgrade gradle to 4+ dosn't fix my problem , I have the same

[2022-08-29 13:10] #203 closed

[2022-08-30 13:00] fuzzybinary commented on #204
I can't reproduce your issue even with most of the same dependencies. Can you reach out to support and maybe we can have you send over your project files and that will help me diagnose what's going on.

Thanks!

[2022-08-30 21:39] cfsbhawkins opened #211 "After update can no longer build to iOS Simulator (Intel Mac)"
Using latest from pub.dev, I am no longer able to launch my app on Simulator. I am getting the following error, I know there was another ticket that was for M1 mac but mine is on Intel.

I do have the line in my podfile to exclude arm64 because another library needs it to run.

Flutter SDK 3.3.0
datadog_flutter_plugin-1.0.0-rc.2

[code]

[2022-08-31 13:14] fuzzybinary commented on #211
Hi @cfsbhawkins, thanks for reporting this!

I'm very confused why Xcode is looking for the arm64 target on an Intel Mac, but I'll look into it. I didn't update to Flutter 3.3 yesterday, and that may have something to do with it. I'll try to test with it today.

[2022-08-31 14:40] fuzzybinary commented on #211
After a cursory check of Flutter 3.3.0, it appears that is not the issue (the example still builds fine).

Just to be super thorough, can you try a clean build (run `flutter clean`)? If that still doesn't work, can you send me over the additional lines of your Podfile and I'll try to replicate locally.

[2022-08-31 15:03] cfsbhawkins commented on #211
I will have someone else on my team try my branch on their mac, but I did both flutter clean and nuked and repulled the repo from git and still cant build to iOS Simulator.

[code]

[2022-08-31 15:39] cfsbhawkins commented on #211
So I think I solved it for anyone who needs it, this fixed it in the as well as allowed mapbox to work:

**config.build_settings['ARCHS[sdk=iphonesimulator*]'] =  `uname -m`**

[code]

[2022-08-31 15:39] #211 closed

[2022-08-31 16:15] scopendo commented on #203
@fuzzybinary – should I still be seeing this with 1.0.0-rc.2?

[code]

[2022-08-31 16:19] scopendo commented on #203
Never mind – I incorrectly took the changelog message for rc.2 to mean it contained this fix but now see that there's a later commit yet to be released.

[2022-08-31 17:27] fuzzybinary commented on #203
Yeup... sorry, rc3 will contain this. We should be able to get it out in the next day or so.

[2022-08-31 20:36] mikhael28 commented on #174
Hi there! A few quick things about the experience migrating to Datadog's official Flutter SDK.

1. It was overall pretty smooth, but I was using Datadog in an incredibly limited way - I was just logging errors, with no RUM events or proactive logging. This segues into a big problem I found, which may the unofficial SDK may also be suffering from but I just don't know.
2. When you are trying to man

[2022-08-31 21:12] fuzzybinary commented on #174
Hi @mikhael28,

No that does not sound familiar and would definitely be a bug if that is the case.

Can you turn on verbose SDK logging and see if maybe the error isn't so silent? Before Datadog initialization call:
[code]

If that doesn't give you any info, if you could send me over some sample code that reproduces the issue I'll take a look.

Thanks!

[2022-09-01 08:11] AlexRich16 commented on #204
It is an Android dependency specific to our company that makes this error. I will see with the team that maintains this project to solve the problem. If they can't do anything, I'll come back to you and reopen the issue.

[2022-09-01 12:01] fuzzybinary commented on #204
Okay, keep me posted!

[2022-09-01 12:01] #204 closed

[2022-09-01 19:08] fuzzybinary commented on #203
This is now live in 1.0.0-rc.3

[2022-09-02 15:19] mbtodorov opened #216 "DEBUG-level logs are not being sent to DataDog"
Thanks for taking the time for reporting an issue!

**Describe what happened**
`debug` log messages are not being sent through to DataDog

**Steps to reproduce the issue:**
1. Initialize SDK
2. Call the `debug` method:
[code]
3. Observe that the log is not coming through to DataDog:
<img width="264" alt="image" src="https://user-images.githubusercontent.com/25320807/188181363-0ba5e02e-b9e6-4a6f-a5

[2022-09-02 17:50] fuzzybinary commented on #216
Hi @mbtodorov,

I'm not able to reproduce this immediately. Is there anything else weird about your setup? Are you seeing this for both iOS and Android? Is there anything unusual about your setup / initialization?

[2022-09-02 18:17] fuzzybinary commented on #216
Also, please check what you set in your configuration for your `LoggingConfiguration.datadogReportingThreshold`.  This defaults to `Verbosity.verbose`, but if you set it to `Verbosity.info`, by design it will not send `debug` or `verbose` logs to Datadog.

[2022-09-05 06:51] mbtodorov commented on #216
Hello.

@fuzzybinary thanks for looking into my issue so swiftly. I thought perhaps it might be something well known or I am missing something. Let me go into more detail. Here is the setup:

[code]

Come to think of it, it might be the case that the logs are not coming through because `LoggingBlocObserver` is instantiated before calling `DatadogSdk.runApp` 🤔. Although not sure since it calls stat

[2022-09-05 06:56] xgouchet commented on #216
Hi @mbtodorov, indeed you need to make sure the global SDK is initialize before trying to instantiate a logger/send a log. If the Logger is instantiate before, it won't know what your configuration is, and will default to a no-op implementation.

[2022-09-05 07:04] mbtodorov commented on #216
Ah, can confirm that the logs are coming through. I feel silly now, apologies for wasting your time. Feel free to close this!

[2022-09-05 07:09] xgouchet commented on #216
That's okay, it's an easy thing to overlook. Glad to know the logs are coming properly.

[2022-09-05 07:09] #216 closed

[2022-09-08 08:31] kuanyi-ng opened #221 "`Client Token documentation` hyperlink in `datadog_flutter_plugin`'s README directs to the wrong page"
Thanks for taking the time for reporting an issue!

**Describe what happened**
The link to `Client Token documentation` in [README of `datadog_flutter_plugin`](https://github.com/DataDog/dd-sdk-flutter/tree/develop/packages/datadog_flutter_plugin) links to https://github.com/DataDog/dd-sdk-flutter/blob/main/CONTRIBUTING.md instead of the actual documentation.

**Steps to reproduce the issue:**
1.

[2022-09-08 12:26] fuzzybinary commented on #221
Thanks for pointing this out @kuanyi-ng. That is indeed the correct link. I've put up a PR to fix.

[2022-09-08 12:35] kuanyi-ng commented on #221
Thanks for the fast response and fix 💯

[2022-09-08 20:07] mikhael28 commented on #174
Hey @fuzzybinary - hope all is well. I installed the latest version of the SDK today, and I am now able to fire off logs from a generic class. I have not tested my triple-nested widget yet, but I don't need to anymore necessarily. The web version was not working in the 1.0.2 release for me, but I added it back in 1.0.3 and it seems to be good for me now!

All in all, I consider myself 'migrated' f

[2022-09-09 11:21] jgarciapueyo opened #223 "Add the option to send logs with other log status levels"
**Is your feature request related to a problem? Please describe.**
As far as I have found, the log status levels offered by this plugin are restricted to ['debug', 'info', 'warn', 'error']. However, in the documentation of log configuration (https://docs.datadoghq.com/logs/log_configuration/processors/?tab=ui#log-status-remapper), it shows that datadog allows for more log status levels (0-7 if is

[2022-09-09 12:45] fuzzybinary commented on #174
Hey @mikhael28

That's great to hear. Web is still in very early development, but if you are using it please let me know how it's going and keep me updated on any issues you see.

Thanks!

[2022-09-09 18:23] fuzzybinary commented on #223
Hi @jgarciapueyo,

I'll definitely look into adding all levels in the future.  In the meantime, you may actually be able to use the log status remapper anyway, since we support sending attributes with logs. I'm not 100% sure the remapper will overwrite the status, but it might be worth investigating.

[2022-09-09 18:32] fuzzybinary commented on #133
This should be resolved with rc.3

[2022-09-09 18:32] #133 closed

[2022-09-12 19:39] fuzzybinary commented on #201
If anyone is looking for this in the future, it is now on the Datadog documentation site at https://docs.datadoghq.com/getting_started/site/

[2022-09-13 06:39] jgarciapueyo commented on #223
Thanks @fuzzybinary! I'll take a look at the workaround.

[2022-09-14 21:30] dustin-graham commented on #154
@fuzzybinary Please re-open this issue. We just discovered that we have this same problem. We just moved from the community plugin to this one and now we cannot run any of our flutter apps on simulator that have this DataDog dependency. I did as you instructed above and verified our excluded architectures are as you showed. Please advise. It's important to our team that Simulators are available.

[2022-09-22 12:33] #198 closed, assigned to nobody

[2022-10-07 15:17] fuzzybinary commented on #196
Hi @omartinma I'm going to close this from inactivity, but please re-open if you're still seeing this issue.

[2022-10-07 15:17] #196 closed

[2022-10-08 14:08] guixin567 opened #249 "can collect request headers and response"
Data dog can collect request headers and response？，I use flutter sdk and I also want to see the request headers and response,but not find them in the rum or apm

[2022-10-10 12:44] samuelcecilio opened #250 "Not collecting data for Android, but works on iOS"
**Describe what happened**
I configured datadog rum for my application, but it's only working for iOS. I couldn't identify any errors, in the debug console there is a info that the SDK has been initialized.

**Steps to reproduce the issue:**
- follow setup instructions
- after adding the plugin, I had to add the following configuration in the `build.gradle` file:
- run app on ios and android emula

[2022-10-11 12:54] fuzzybinary commented on #250
Hi @samuelcecilio thanks for reaching out!

It sounds like you already set the `DatadogSdk.sdkVerbosity` to `Verbosity.verbose`, but if not can you do that and post what console messages you're seeing? Additionally, are you seeing any messages every so often saying whether or not Datadog has any information to send?

Lastly, have you started a view using `DatadogSdk.instance.rum?.startView()`, or

[2022-10-11 17:47] samuelcecilio commented on #250
Hi, thanks. The `main.dart` looks like:

[code]

`Verbosity.verbose` is the default, or do I need to set it manually?

With only this setting, I automatically get memory usage statistics and error reports for iOS, for Android I don't get any.

[2022-10-11 20:43] fuzzybinary commented on #250
You need to set it manually.  Before calling `DatadogSdk.instance.initialize`, add:

[code]

The Datadog SDK is actually very verbose about what it's doing on this setting, so it is set to a lower level by default.

Are you calling `DatadogSdk.instance.rum?.startView` or are you using the `DatadogNavigationObserver`? And are you seeing views for individual sessions?

[2022-10-14 04:36] #249 closed

[2022-10-18 11:11] samuelcecilio commented on #250
I had not implemented the `DatadogNavigationObserver`, apparently for iOS this was not a problem as everything was like `ApplicationLaunch`:
<img width="341" alt="Captura de Tela 2022-10-18 às 08 11 02" src="https://user-images.githubusercontent.com/30150045/196414143-299f3303-98b6-4836-908b-a246e89c136b.png">

BTW, verbosity looks differently for android and ios:
<img width="1428" alt="Captura d

[2022-10-18 13:13] brunovsiqueira opened #254 "setUserInfo should not overwrite previous usage"
Hi there. I'd like to discuss if this is the expected behavior.

**Describe what happened**
When you use "setUserInfo" method in order to set User RUM information more than once, only what you have set in the latest usage appear in RUM logs. It seems to clear all user information you have set even if you are setting only additional info.

**Steps to reproduce the issue:**
Call "setUserInfo" with o

[2022-10-18 16:59] brunovsiqueira commented on #254
Hi @fuzzybinary. Thanks for your attention.

Ok, it's clear now and makes sense. I have implemented what you suggested and it works properly.

I agree with you that would be helpful having a separate method to add or change extra properties. If you want, you can close this issue or mark it with feature request.

[2022-10-19 18:50] #250 closed

[2022-10-28 17:57] masterwok opened #264 "Not Seeing Stack Traces Logged with addErrorInfo"
Not seeing stack traces logged along with error under `Trace` tab within DataDog when invoking `DatadogSdk.instance.rum?.addErrorInfo`.

[code]

<img width="863" alt="image" src="https://user-images.githubusercontent.com/5054978/198701455-a85feabe-8302-4cf1-b6af-c31edc272624.png">

**Steps to reproduce the issue:**

See above method definition.

**Describe what you expected:**

Expected stack-trac

[2022-10-31 12:52] fuzzybinary commented on #264
Hi @masterwok

That tag is for Application Performance Metrics (APM) traces, not stack traces. You can read more about them here: https://docs.datadoghq.com/tracing/

Additionally, errors sent to RUM will not appear in the Logs tab. They will appear in UX Monitoring under Error Tracking and under individual sessions. This 'Bad Request' log likely came from a call to logs instead, similar to:

[cod

[2022-10-31 15:47] #254 closed

[2022-11-07 17:08] masterwok opened #271 "Crash on iOS"
Seeing crashes reported from the DataDog Flutter plugin on iOS.

Include any error message or stack trace if available.

We are seeing the following stack-trace in production. Xcode is reporting this crash has occurred on 30 devices. Looking at our Instabug reports it appears the majority of occurences have occured while the application was backgrounded (144 backgrounded; 9 foregrounded).

[code]

[2022-11-07 18:20] fuzzybinary commented on #271
Hi @masterwok thanks for reporting!

I'll take a look into why this might be happening and get it fixed. You're likely right that backgrounding or transitioning to background is partially the culprit.

If you need a workaround, it looks like this is happening because the Datadog SDK is trying to report back a debug message from the Native iOS SDK back to the Flutter SDK so it can display in the Fl

[2022-11-07 20:01] samuelcecilio commented on #271
Same problem here.

Besides verbosity, I also use `..enableHttpTracking()`

<img width="1253" alt="Captura de Tela 2022-11-07 às 16 59 52" src="https://user-images.githubusercontent.com/30150045/200403293-30efe4a6-9df3-4b4e-be4d-cc3a4f558f4a.png">

[2022-11-07 20:36] fuzzybinary commented on #271
@samuelcecilio On your stack trace are you also seeing `-[UIApplication _terminateWithStatus:]` on Thread 0? My guess is that the application is in the middle of termination and we're accidentally trying to send some debug info during shutdown. Lowering your Verbosity on release builds should prevent the crash.

So far as I know, `..enableHttpTracking()` doesn't appear to be related, unless you're

[2022-11-07 22:40] samuelcecilio commented on #271
I kept the `enableHttpTracking` and removed the verbosity, slightly different:
[code]

current stack trace:
[code]

[2022-11-09 18:44] #271 closed

[2022-11-09 19:55] Raahim opened #276 "Unable to setup new application / send data"
**Describe what happened**
I am trying to add a new Flutter application in Datadog, and I am following this [guide](https://docs.datadoghq.com/real_user_monitoring/flutter/):

I have created an app in Datadog , created the configuration object and initialized the Datadog RUM instance using the first method shown in the documentation. However, I am still not able to send any data to Datadog and stu

[2022-11-09 20:51] fuzzybinary commented on #271
Now released in 1.1.0. Please let me know if you continue to see the issue.

[2022-11-09 20:56] fuzzybinary commented on #276
Hi @Raahim

Can you set Datadog's SDK verbosity higher and see if it's reporting any errors? It's best to only enable this on debug builds like so:

[code]

That should let you know if there's anything weird going on.

[2022-11-09 20:58] fuzzybinary commented on #254
`addUserExtraInfo` should how be available in 1.1.0

[2022-11-09 21:20] Raahim commented on #276
Thanks for getting back to me.

Oddly enough, I am running into another issue now. When I add the package in the dependencies list, I run into the following problem:
`Launching lib\main.dart on sdk gphone64 x86 64 in debug mode...
lib\main.dart:1

FAILURE: Build failed with an exception.

* Where:
Build file 'C:\Users\rghauri\flutter\.pub-cache\hosted\pub.dartlang.org\datadog_flutter_plugin-1.1.0\

[2022-11-09 21:30] Raahim commented on #276
OK so downgrading to 1.0.1 from 1.1.0 fixed the building issue I was having, but changing the Verbosity didn't help with the orginal issue. I added the following line:
[code]
After:
[code]

If it helps, here is the main.dart file.
[code]

[2022-11-09 22:57] EdwynZN opened #277 "Building APK fails with version 1.1.0"
**Describe what happened**
After upgrading to `1.1.0` the Android build no longer work

**Steps to reproduce the issue:**

using datadog_flutter_plugin: ^1.1.0 in pubspec yaml creates this error after building for Android

[code]
**Describe what you expected:**
Going back to a lower version fixes the problem (1.0.1) and builds the apk in debug / release

**Additional context**
[✓] Flutter (Channel

[2022-11-10 13:52] fuzzybinary commented on #276
@Raahim Thanks for pointing out the `libs` issue. I'll get a 1.1.1 out ASAP to fix that.

Add the sdkVerbosidy before calling runApp (sdkVerbosity doesn't need Datadog initialized to work, and because runApp is awaited, you're probably never reaching that code)

[2022-11-10 13:53] fuzzybinary commented on #277
Thanks @EdwynZN! I'm on it. I'll either have a 1.1.1 out later today or see if I can get the pub powers that be to replace 1.1.0

Thanks again!

[2022-11-10 14:18] Raahim commented on #276
@fuzzybinary Thanks for getting back to me. I Initilally tried to set the sdkVerbosidy before calling runApp, but it lead to this exception:
![image](https://user-images.githubusercontent.com/6942279/201115399-c2b965d1-6e7a-4945-b3f9-a63e26e6c6e6.png)

Note I removed the if condition to ensure the sdkVerbosidy is always set even though this is not a good practice, but only doing it for testing pur

[2022-11-10 15:07] fuzzybinary commented on #276
😅 Sorry, let's switch over to the more manual initialization:
[code]

By the way, my guess is this is a site mismatch. Does the parameter you're passing to `DdSdkConfiguration.site` match the Datadog subdomain you're using?

[2022-11-10 15:28] Raahim commented on #276
@fuzzybinary Thanks for getting back, but unfortunately manual initialization also didn't work :(

As for the site, I have it set to:
[code]

And I am using app.datadoghq.com which I believe is US1, at least according to this [page](https://docs.datadoghq.com/getting_started/site/).

I'm running out of ideas as to what to do haha. I have the client token, env, app ID all set, which I copied from t

[2022-11-10 15:37] masterwok commented on #271
Will do, thank you @fuzzybinary !

[2022-11-10 16:19] fuzzybinary commented on #271
Sorry, 1.1.0 was retracted because of #277 - I'm working on 1.1.1 right now.

[2022-11-10 16:27] fuzzybinary commented on #277
v1.1.1 is now live and should fix this issue. Please let me know if you have any other problems!

[2022-11-10 16:27] #277 closed

[2022-11-10 16:39] fuzzybinary commented on #276
One more thing @Raahim  --

Though this shouldn't have affected manually sending a log, the `DatadogNavigationObserver` only works with named routes, and doesn't send any data to RUM until a view is active. If you want to test and see if it's just that no views are active, try adding `DatadogSdk.intance.rum?.startView('MyView')` (or similar) in `initState` on your first screen.

[2022-11-10 16:58] Raahim commented on #276
@fuzzybinary Thank you, it does look like corporate proxy was the problem. After switching to manual initiation and getting off the corporate proxy, it seems to work! I can see 1 view load up in the dashboard now (the default event Application_start on screen ApplicationLaunch), but the other views aren't showing up even though I am using PushNamed. I am using onGenerateRoute with a static functio

[2022-11-10 17:05] fuzzybinary commented on #276
@Raahim We pull the name out of the `RouteSettings` on the generated route. The simple fix is just to pass the `RouteSettings` into the MaterialPageRoute:
[code]

The larger fix would be to look into a routing library that is Flutter Web ready (like go_router or auto_route) which would work out of the box with the `DatadogNavigationObserver`

Datadog has a [public slack channel](https://chat.datad

[2022-11-10 17:36] #276 closed

[2022-11-15 17:36] masterwok opened #280 "iOS: Tracing feature is enabled, but no `Tracer` is registered. The Tracing integration with Logging will not work."
I'm seeing the warning, `Tracing feature is enabled, but no 'Tracer' is registered. The Tracing integration with Logging will not work.` when debugging an iOS application with the logging verbosity set to verbose. We are not seeing this warning on Android.

I found a reference to this warning in a react native ticket which may offer a little more insight: https://github.com/datadog/dd-sdk-reactnat

[2022-11-15 22:36] fuzzybinary commented on #280
Hi @masterwok -- I'll take a look at what might be causing that message, but the warning can safely be ignored.

This is referring to native Trace and Span creation, which is possible in the Native SDKs but was deprecated in Flutter (see #146 for reasons why).

This won't affect the distributed traces available as part of the datadog_tracing_http_client package.

[2022-11-16 14:15] scopendo commented on #175
Hi @fuzzybinary – is there any progress on the native SDK side for supporting this?

[2022-11-16 14:44] fuzzybinary commented on #175
We are working on supporting mapping in the Flutter SDK very soon, which should allow you to inspect, modify, and discard events before they get sent to Datadog. This will likely be our recommend way for filtering out the cancelations.

Sorry it's taken so long and thanks for your patience!

[2022-11-18 02:08] #280 closed

[2022-11-18 14:53] christinachimi opened #282 "Allow optional overriding of named route"
**Are you requesting automatic instrumentation for a framework or library? Please describe.**
No

**Is your feature request related to a problem? Please describe.**
My app is set up in such a way that most screens are accessed on the "home" route ("/"). Because of this, even when using `DatadogRouteAwareMixin` and overriding `RumViewInfo` I can't get any actual screen names to appear. This makes i

[2022-11-18 15:47] fuzzybinary commented on #282
Hi @christinachimi,

I'll take a look and see if I can get RouteAwareMixin and named routes to behave a bit better to satisfy this use case.

In the mean time, one potential way to solve this is to provide a [ViewInfoExtractor](https://pub.dev/documentation/datadog_flutter_plugin/latest/datadog_flutter_plugin/ViewInfoExtractor.html) to the DatadogNavigationObserver.  By default, this just checks `

[2022-11-21 16:18] christinachimi commented on #282
@fuzzybinary thanks! that works great, at least on iOS. That actually probably solves the use case for me, so  you can close this if you don't think it has additional value.

[2022-11-21 22:00] #282 closed, assigned to nobody